.content__work-container_blue-grey-theme .content__img_blue-grey-theme {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer; }
  .content__work-container_blue-grey-theme .content__img_blue-grey-theme:hover {
    opacity: 0.7; }

.modal-content_blue-grey-theme {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9); }

.modal-content__img_blue-grey-theme {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1000px; }

.modal-content__caption_blue-grey-theme {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 800px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px; }

.modal-content__img_blue-grey-theme,
.modal-content__caption_blue-grey-theme {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s; }

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.modal-content__close-span_blue-grey-theme {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .modal-content__close-span_blue-grey-theme:hover, .modal-content__close-span_blue-grey-theme:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer; }

@media only screen and (max-width: 700px) {
  .modal-content_blue-grey-theme {
    width: 100%; } }

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px; }

body {
  max-width: 1000px;
  margin: 0 auto;
  color: #eceff1;
  background-color: #263238; }

.header_blue-grey-theme {
  background-color: #455a64;
  border: 10px solid #37474f; }
  .header_blue-grey-theme .header__h1_blue-grey-theme {
    padding: 5px 20px;
    font-size: 45px;
    font-weight: lighter; }

.small-navigation__button_blue-grey-theme {
  display: none;
  width: 35px;
  height: 35px;
  background-color: #CFD8DC; }

.small-navigation__span_blue-grey-theme {
  display: block;
  position: relative;
  margin: 6px 5px;
  width: 25px;
  height: 4px;
  background-color: #455a64; }

.small-navigation__span_hidden {
  display: none; }

.small-navigation__span_rotate-right {
  top: 10px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.small-navigation__span_rotate-left {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.content__h2_blue-grey-theme {
  margin: 20px 20px 15px;
  font-size: 30px;
  font-weight: lighter; }

.content__span_blue-grey-theme {
  font-size: 30px;
  font-weight: lighter; }

.content__span_hidden {
  display: none; }

.content__p_blue-grey-theme {
  margin: 5px 20px;
  text-indent: 20px;
  text-align: justify; }

.navigation__a_blue-grey-theme,
.small-navigation__a_blue-grey-theme {
  color: #eceff1;
  text-decoration: none; }
  .navigation__a_blue-grey-theme:hover,
  .small-navigation__a_blue-grey-theme:hover {
    color: #a3b1bb;
    text-decoration: underline; }

.content__a_blue-grey-theme {
  color: #eceff1; }
  .content__a_blue-grey-theme:hover {
    color: #a3b1bb;
    text-decoration: underline; }

.navigation__item_blue-grey-theme {
  display: inline-block;
  margin: 5px 20px; }

.navigation__a_blue-grey-theme {
  font-size: 17px; }

.content__information_blue-grey-theme {
  overflow: hidden; }

.content__img_blue-grey-theme {
  display: block;
  margin: 0 auto;
  width: 280px; }

.content__img_float-right {
  float: right;
  margin: 20px; }

.content__works-container_blue-grey-theme {
  margin: 20px; }

.content__work-container_blue-grey-theme {
  display: inline-block;
  margin: 15px;
  vertical-align: middle; }

.content__img-text_blue-grey-theme {
  margin-top: 7px;
  text-align: center; }

.content__info-text_blue-grey-theme {
  text-align: center; }

.contacts__contact-container_blue-grey-theme {
  margin: 15px; }

.contacts__img_blue-grey-theme {
  height: 40px; }

.contacts__img_blue-grey-theme,
.contacts__link_blue-grey-theme {
  display: inline-block;
  vertical-align: middle; }

.contacts__social-networks_blue-grey-theme,
.contacts__location_blue-grey-theme {
  display: inline-block;
  width: 49%;
  margin: auto;
  vertical-align: middle; }

ymaps {
  display: block;
  margin: auto; }

@media (max-width: 929px) {
  .content__img_blue-grey-theme {
    width: 240px; } }

@media (max-width: 829px) {
  * {
    font-size: 14px; } }

@media (max-width: 778px) {
  .content__img_blue-grey-theme {
    width: 200px; } }

@media (max-width: 742px) {
  .header_blue-grey-theme .header__h1_blue-grey-theme {
    font-size: 40px; }
  .navigation__a_blue-grey-theme {
    font-size: 16px; } }

@media (max-width: 698px) {
  .content__work-container_blue-grey-theme {
    margin: 10px; }
  .content__img_blue-grey-theme {
    width: 190px; }
  .contacts__social-networks_blue-grey-theme,
  .contacts__location_blue-grey-theme {
    display: block;
    width: 100%;
    margin: auto; }
  ymaps {
    margin-bottom: 10px; } }

@media (max-width: 648px) {
  .content__img_blue-grey-theme {
    width: 170px; }
  .content__img-text_blue-grey-theme,
  .content__info-text_blue-grey-theme,
  .content__a_blue-grey-theme {
    font-size: 13px; } }

@media (max-width: 600px) {
  .content__work-container_blue-grey-theme {
    display: block;
    margin: 15px auto;
    width: 250px; }
  .content__img_blue-grey-theme {
    width: 250px; }
  .content__img-text_blue-grey-theme,
  .content__info-text_blue-grey-theme,
  .content__a_blue-grey-theme {
    font-size: 14px; } }

@media (max-width: 489px) {
  .content__h2_top {
    margin-top: 83px; }
  .header_blue-grey-theme {
    position: fixed;
    top: 10px;
    left: 10px;
    vertical-align: center;
    z-index: 99999; }
    .header_blue-grey-theme .header__h1_blue-grey-theme {
      display: inline-block;
      font-size: 25px;
      padding: 5px 10px;
      vertical-align: middle; }
  .navigation_blue-grey-theme {
    display: none; }
  .small-navigation_blue-grey-theme {
    display: inline-block;
    vertical-align: middle; }
  .small-navigation__button_blue-grey-theme {
    display: inline-block; }
  .small-navigation__item_blue-grey-theme {
    margin: 5px;
    list-style-type: none; }
  .content__h2_blue-grey-theme,
  .content__span_blue-grey-theme {
    font-size: 25px; }
  .content__img_blue-grey-theme {
    display: block;
    float: none;
    margin: 20px auto 10px; }
  .content__img-text_blue-grey-theme,
  .content__a_blue-grey-theme {
    font-size: 14px; } }
