@import "variables";
@import "mixins";

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    color: $textColor;
    background-color: $mainbackgroundColor;
}

.header_blue-grey-theme {
    background-color: $blockBackGroundColor;
    border: 10px solid $blockBorderColor;

    .header__h1_blue-grey-theme {
        padding: 5px 20px;
        font-size: 45px;
        font-weight: lighter;
    }
}

.content__h2_blue-grey-theme {
    margin: 20px 20px 15px;
    font-size: 30px;
    font-weight: lighter;
}

.content__span_blue-grey-theme {
    font-size: 30px;
    font-weight: lighter;
}

.content__span_hidden {
    display: none;
}

.content__p_blue-grey-theme {
    margin: 5px 20px;
    text-indent: 20px;
    text-align: justify;
}

.navigation__a_blue-grey-theme {
    color: $textColor;
    text-decoration: none;

    &:hover {
        color: darken($textColor, 25%);
        text-decoration: underline;
    }

}

.content__a_blue-grey-theme {
    color: $textColor;

    &:hover {
        color: darken($textColor, 25%);
        text-decoration: underline;
    }
}

.navigation__item_blue-grey-theme {
    display: inline-block;
    margin: 5px 20px;
}

.navigation__a_blue-grey-theme {
    font-size: 17px;
}

.content__information_blue-grey-theme {
    overflow: hidden;
}

.text-information_blue-grey-theme {
    float: left;
}

.content__img_blue-grey-theme {
    display: block;
    margin: 0 auto;
    width: 280px;
    // border: 10px solid $blockBorderColor;
}

.content__img_float-right {
    float: right;
    margin: 20px;
}

.content__works-container_blue-grey-theme {
    margin: 20px;
    width: 100%;
}

.content__work-container_blue-grey-theme {
    position: relative;
    margin: 5px;
    float: left;
    width: 300px;
    height: 250px;
    border: 10px solid $blockBorderColor;
}

.content__img-text_blue-grey-theme {
    margin: 10px;
    text-align: center;
}

.content__info-text_blue-grey-theme {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

